.container {
    background-color: blanchedalmond;
    text-align: center;
    border-radius: 25px;
}

.image {
    width: 200px
}

.container5 {
    background-color: cornsilk;
    padding: auto;
}

.container2 {
    background-color: white;
    padding: 20px;
    border-radius: 25px;
}

.container3 {
    background-color: white;
    padding: 10px;
    border-radius: 25px;
}

.container4 {
    background-color: blue;
    text-align: center;
    border-radius: 20px;
}

.container7 {
    background-color: lightblue;
    text-align: center;
    border-radius: 20px;
}

.container8 {
    background-color: lightcoral;
    text-align: center;
    border-radius: 20px;
}

.container11 {
    background-color: lightgrey;
    height: 33px;
    text-align: center;
}

#myDiv {
    transform: rotateZ(270deg);
}