<head>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
</head>
<div class="container5">
    <div class="container10">
        <div class="row">
            <div class="col-md-8">
                <div class="d-flex page__box p-3 mt-2">Dashboard</div>

                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <h2>Welcome Back Anni</h2>
                            <p>You will have 80% of yours goal this week!<br> Keep it up and improve your result</p>
                        </div>
                        <div class="col-md-6">
                            <img class="image" src="/assets/img.png" alt="" style="margin-right: 64%;">
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-5">
                        <div class="container1">
                            <div class="col-md-4">

                            </div>

                            <div class="container2">
                                <div class="row">
                                    <div class="col">
                                        <p style="font-size: 15px;">Latest Result</p> <br>
                                    </div>
                                    <div class="col" style="text-align: end;">
                                        <p style="font-size: 15px;">More</p> <br><br>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        Unit 5- Technology
                                        <hr>
                                    </div>
                                    <div class="col">
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <hr>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col">
                                        Unit 12- Ecology
                                        <hr>
                                    </div>
                                    <div class="col">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <hr>
                                    </div>
                                </div>



                                <div class="row">
                                    <div class="col">
                                        Unit 9- Real estate
                                        <hr>
                                    </div>
                                    <div class="col">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <hr>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col">
                                        Unit 8- Eduction
                                        <hr>
                                    </div>
                                    <div class="col">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <hr>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col">
                                        Unit 16- Job market
                                        <hr>
                                    </div>
                                    <div class="col">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <hr>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- </div> -->

                    <div class="col-md-7">
                        <div class="container3">
                            <div class="col-md-8">

                            </div>

                            <div class="container3">
                                <div class="row">
                                    <div class="col">
                                        Time spent on learner <br>
                                    </div>
                                    <div class="col" style="text-align: end;">
                                        Last Week <br><br>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        Mon

                                    </div>

                                    <div class="col">
                                        Tues

                                    </div>
                                    <div class="col">
                                        Wed

                                    </div>
                                    <div class="col">
                                        Thus

                                    </div>
                                    <div class="col">
                                        Fri
                                    </div>
                                    <div class="col">
                                        Sat

                                    </div>
                                    <div class="col">
                                        Sun

                                    </div>
                                </div>
                                <br><br>

                                <div class="row">
                                    <div class="col">
                                        <div class="progress" id="myDiv">
                                            <div class="progress-bar" role="progressbar" style="width: 75%; " aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <br><br><br><br><br><br><br><br><br><br><br><br>
                                    </div>

                                    <div class="col">
                                        <div class="progress" id="myDiv">
                                            <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>


                                    <div class="col">
                                        <div class="progress" id="myDiv">
                                            <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>

                                    <div class="col">
                                        <div class="progress" id="myDiv">
                                            <div class="progress-bar" role="progressbar" style="width: 15%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>

                                    <div class="col">
                                        <div class="progress" id="myDiv">
                                            <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>

                                    <div class="col">
                                        <div class="progress" id="myDiv">
                                            <div class="progress-bar" role="progressbar" style="width: 65%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>

                                    <div class="col">
                                        <div class="progress" id="myDiv">
                                            <div class="progress-bar" role="progressbar" style="width: 55%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>



                                </div>
                                <!-- ----------------------------------------------------------  -->

                                <div class="row">
                                    <div class="col">
                                        <i class="fa fa-circle" style="color: red;"></i> Vocabulary

                                    </div>

                                    <div class="col">
                                        <i class="fa fa-circle" style="color:rgb(102, 111, 139);"></i> Grammer

                                    </div>
                                    <div class="col">
                                        <i class="fa fa-circle" style="color:sienna;"></i> Listening

                                    </div>
                                    <div class="col">
                                        <i class="fa fa-circle" style="color:slateblue;"></i> Writing

                                    </div>

                                    <!-- ----------------------------------------------------------- -->

                                </div>
                            </div>
                        </div>
                    </div>


                    <br>

                    <p>Your Course</p>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="container4">
                                <h5>Bussiness English</h5>
                                <h4>Grammer</h4>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="container7">
                                <h5>Common English</h5>
                                <h4>Phrasal verbs</h4>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="container8">
                                <h5>Bussiness Span</h5>
                                <h4>Vocabulary</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 img" style="background-color: white;">
                <br>
                <br> <br>
                <p style="text-align:center;"> <img class="rounded-circle z-depth-2" alt="100x100" src="https://static.thenounproject.com/png/1743560-200.png" data-holder-rendered="true">
                </p>
                <br>
                <div>
                    <h3 style="text-align:center;"><strong>Aakash Pal</strong></h3>
                    <h6 style="text-align:center;"> Student</h6>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-2">
                        <div class="container11">
                            <h4>B2</h4>
                        </div>
                    </div>
                    <div class="col-md-4">
                        English <br> <small>High Inter</small>
                    </div>
                    <div class="col-md-6">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-2">
                        <div class="container11">
                            <h4>C1</h4>
                        </div>
                    </div>
                    <div class="col-md-4">
                        Spanish <br> <small>Advance</small>
                    </div>
                    <div class="col-md-6">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
                <br> <br>
                <h5>Reminders</h5>
                <br>
                <div class="row">
                    <div class="col-md-2">
                        <div class="container11">
                            <span class="glyphicon glyphicon-ban-circle" style="font-size: 30px;"></span>
                        </div>
                    </div>
                    <div class="col-md-8">
                        Eng- Vocabulary test <br> <small>24 Sep 2019 Friday</small>
                    </div>

                </div>
                <br>

                <div class="row">
                    <div class="col-md-2">
                        <div class="container11">
                            <span class="glyphicon glyphicon-envelope" style="font-size: 30px;"></span>
                        </div>
                    </div>
                    <div class="col-md-8">
                        Eng-Send Grammer homework <br> <small>29 Sep 2019 Wednesday</small>
                    </div>

                </div>
                <br>
                <div class="row">
                    <div class="col-md-2">
                        <div class="container11">
                            <span class="glyphicon glyphicon-envelope" style="font-size: 30px;"></span>
                        </div>
                    </div>
                    <div class="col-md-8">
                        Spanish- Send essey <br> <small>05 Oct 2019 Monday</small>
                    </div>

                </div>

                <br>

                <p>Spanish Reading Book</p>
            </div>
        </div>
    </div>
</div>